<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <footer class="footer">
        <div class="copy">
            <p>E: alejandroa@gmail.com</p>
            <p>T: +1 (234) 567 80 98</p>
        </div>
        <div class="soc-box">
            <div class="follow-label">Follow Me</div>
            <div class="soc">

                <a target="_blank" href="https://www.pinterest.com/" title="Pinterest">
                    <span class="icon fab fa-facebook"></span>
                </a>

                <a target="_blank" href="https://instagram.com/" title="Instagram">
                    <span class="icon fab fa-instagram"></span>
                </a>

                <a target="_blank" href="https://dribbble.com/" title="Dribbble">
                    <span class="icon fab fa-whatsapp"></span>
                </a>

            </div>
        </div>
        <div class="clear"></div>
    </footer>
</body>
</html>